<style>
	.color {
		width: 100%;
		max-width: 512px;
		height: 120px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		font-size: 2rem;
		margin: 0 auto;
		margin-bottom: 25px;
		border-style: solid;
		border-color: #191919;
		transition: box-shadow 0.3s ease-in-out;
	}
</style>
<div class="colors" style="margin-top: 50px;">
	<div class="color" id="background"></div>
	<div class="color" id="fadeout"></div>
	<div class="color" id="accent"></div>
	<div class="color" id="text"></div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function(event) {
		document.getElementById("background").style.backgroundColor = currentTheme[3];
		document.getElementById("background").innerHTML = currentTheme[3];
		document.getElementById("fadeout").style.backgroundColor = currentTheme[1];
		document.getElementById("fadeout").innerHTML = currentTheme[1];
		document.getElementById("accent").style.backgroundColor = currentTheme[0];
		document.getElementById("accent").innerHTML = currentTheme[0];
		document.getElementById("text").style.backgroundColor = currentTheme[2];
		document.getElementById("text").innerHTML = currentTheme[2];
		document.getElementById("text").style.color = currentTheme[3];
	});
</script>
