<footer>
	<div class="container">
		<p>
			©
			<script type="text/javascript">
				document.write(new Date().getFullYear());
			</script>
			Hampton Moore || <a href="/feed.xml">RSS</a>
		</p>
	</div>
</footer>
