<nav class="clearfix" role="navigation">
	<div class="container">
		<a class="logo" href="/"><img src="/img/logo.png" />Hampton Moore</a>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="https://github.com/<%- github_username %>">Github</a></li>
			<li><a href="https://twitter.com/<%- twitter_username %>">Twitter</a></li>
		</ul>
	</div>
</nav>
