<nav class="clearfix" role="navigation">
  <div class="container">
    <a class="logo" href="/"><img src="https://www.gravatar.com/avatar/d19dff679ad6338d7c604eb64327a1ea?s=150" />Hampton Moore</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="https://github.com/<%- github_username %>">Github</a></li>
      <li><a href="https://twitter.com/<%- twitter_username %>">Twitter</a></li>
    </ul>
  </div>
</nav>